@{
    ViewBag.Title = "Reporte de Actividad Estratégica y Actividad Operativa";
}

<link type="text/css" rel="stylesheet" href="~/Public/css/jsgrid.css" />
<link type="text/css" rel="stylesheet" href="~/Public/css/jsgrid-theme.css" />

<script type="text/javascript" src="~/Public/js/jsgrid.js"></script>

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Reporte de Actividad Estratégica y Actividad Operativa</h2>
    </div>
</div>
<!-- /.row -->
<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-lg-12">
        <form id="frm" data-smk-icon="glyphicon-asterisk">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Plan Operativo</label>
                        <select class="form-control" id="ddlplan" name="ddlplan" required></select>
                    </div>
                </div>
                <div class="col-md-4">  
                    <div class="form-group">
                        <label>Actividad Estratégica</label>
                        <select class="form-control" id="ddlAcEst" name="ddlAcEst" required></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Periodo</label>
                        <select class="form-control" id="ddlPeriodo" name="ddlPeriodo" required></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary btn-block btn-fill" value="Buscar" id="btbuscar" name="btbuscar" style="margin-top: 25px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="jsGrid"></div>
                </div>
            </div>
        </form>
    </div>
</div>

@Html.Hidden("listarActividadEstrategica", Url.Action("ListarAExPlanOperativoId", "Reporte"))
@Html.Hidden("listaRepActOpe", Url.Action("ListaRepActividadOpe", "Reporte"))

<!--Pagina controlador de vista-->
<script src="~/Public/js/content/publicacion/ReporteAEAO.js"></script>