@{
    ViewBag.Title = "Reporte de Avance Físico Anual";
}

<link type="text/css" rel="stylesheet" href="~/Public/css/jsgrid.css" />
<link type="text/css" rel="stylesheet" href="~/Public/css/jsgrid-theme.css" />

<script type="text/javascript" src="~/Public/js/jsgrid.js"></script>

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Reporte de Avance Físico Anual por Actividad Programática y Categoría Presupuestal</h2>
    </div>
</div>
<!-- /.row -->
<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-lg-12">
        <form id="frm" data-smk-icon="glyphicon-asterisk">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Periodo</label>
                        <select class="form-control" id="ddlPeriodo" name="ddlPeriodo" required>
                            <option value="1">I Semestre</option>
                            <option value="2">III Trimestre</option>
                            <option value="3">IV Trimestre</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="jsGrid"></div>
                </div>
            </div>
        </form>
    </div>
</div>

@Html.Hidden("myUrl", Url.Action("ListarReporteAvanceFisicoCatePresu", "Reporte"))

<!--Pagina controlador de vista-->
<script src="~/Public/js/content/publicacion/ReporteAvanceFisicoCatePre.js"></script>