@{
    ViewBag.Title = "Reporte de Logros por Actividad Operativa";
}

<link type="text/css" rel="stylesheet" href="~/Public/css/jsgrid.css" />
<link type="text/css" rel="stylesheet" href="~/Public/css/jsgrid-theme.css" />

<script type="text/javascript" src="~/Public/js/jsgrid.js"></script>

<style type="text/css">
    .Azul td:nth-child(4) {
        background-color: #5d5dff;
    }

    .Amarillo td:nth-child(4) {
        background-color: #ffff51;
    }

    .Verde td:nth-child(4) {
        background-color: #15ab15;
    }

    .Rojo td:nth-child(4) {
        background-color: #fd2929;
    }
    /*.my-row-custom-class td:nth-child(2) {
        background: red;
    }*/
</style>



<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Reporte de Logros por Actividades Operativas</h2>
    </div>
</div>
<!-- /.row -->
<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-lg-12">
        <form id="frm" data-smk-icon="glyphicon-asterisk">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Plan Operativo</label>
                        <select class="form-control" id="ddlplan" name="ddlplan" required></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Periodo</label>
                        <select class="form-control" id="ddlPeriodo" name="ddlPeriodo" required></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Meta</label>
                        <select class="form-control" id="ddlMeta" name="ddlMeta" required></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Actividad Operativa</label>
                        <select class="form-control" id="ddlActOpe" name="ddlActOpe" required></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Logros</label>
                        <input type="text" class="form-control" id="txtLogros" name="txtLogros" placeholder="Buscar palabra(s)" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary btn-block btn-fill" value="Buscar" id="btbuscar" name="btbuscar" style="margin-top: 25px;">
                    </div>
                </div>
            </div>  
                <div class="row">
                    <div class="col-md-12">
                        <div id="jsGrid"></div>
                    </div>
                </div>
</form>
    </div>
</div>

@Html.Hidden("actOpe", Url.Action("ListarActividadOperativa", "Reporte"))
@Html.Hidden("listBusOpe", Url.Action("ListaRepBusquedaActividadOperativa", "Reporte"))
@Html.Hidden("listaCombos", Url.Action("ListarLogrosComboxPlanOperativoId", "Reporte"))



<!--Pagina controlador de vista-->
<script src="~/Public/js/content/publicacion/ReporteActividadOperativa.js"></script>