@{
    ViewBag.Title = "Inicio";
}

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Visor del Mapa de Publicaciones</h1>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-12">
        <h3>Iniciativa del Servicio Web del Mapa Global de Publicaciones</h3>
        <p class="justificado">
            La presente página web es una iniciativa ambiciosa para elaborar un mapa de las investigaciones y publicaciones realizadas en el territorio, primero amazónico en el Perú y luego esperamos extenderlo en el resto del territorio. Se pueden generar búsquedas especializadas por divisiones políticas y otras formas. También se puede generar cuentas de usuario para someter el área de estudio de sus publicaciones, las cuales serán atendías por los administradores a la brevedad posible, esto permitirá una actualización de mapa.
            El mapa de coordenadas geográficas de las publicaciones ayudará a conocer panorámicamente las áreas y los componentes estudiados, y también identificaremos los territorios menos investigados; convirtiéndose en una herramienta de toma de decisiones para priorizar lugares y áreas temáticas optimizando recursos...
            <a href="@Url.Action("Acerca", "Inicio")">Seguir leyendo</a>
        </p>
    </div>

</div>